/* 
    General Styles
*/


.colorBox {
    height: 30vh;
    width: 30vw;
    border-radius: 20%;
    box-shadow: 5px 5px 20px gray;
    border: 20px white;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userName {
    color: white;
   
}